
<!-- Header -->
<div id="header" class="skel-layers-fixed">

	<div class="top">

		<!-- Logo -->
			<div id="logo">
				<span class="image avatar48"><img src="assets/avatar.jpg" alt="" /></span>
				<h1 id="title">Auster Chen</h1>
				<p>Web Developer</p>
			</div>

		<!-- Nav -->
			<nav id="nav">
				<!--

					Prologue's nav expects links in one of two formats:

					1. Hash link (scrolls to a different section within the page)

					   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

					2. Standard link (sends the user to another page/site)

					   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

				-->
				<ul>
					<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
					<li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Projects</span></a></li>
					<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Me</span></a></li>
					<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
				</ul>
			</nav>

	</div>

	<div class="bottom">

		<!-- Social Icons -->
			<ul class="icons">
				<li><a href="https://github.com/teaflavored" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="http://linkedin.com/in/austerchen" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="http://idrinkblacktea.tumblr.com/" target="_blank" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
				<li><a href="https://www.facebook.com/auster.chen" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>

			</ul>

	</div>

</div>

<!-- Main -->
<div id="main">

	<!-- Intro -->
		<section id="top" class="one dark cover">
			<div class="container">

				<header>
					<h2 class="alt">Hi! I'm <strong>Auster Chen</strong>, a web developer for hire</h2>
					<p>I use Ruby on Rails and Javascript <br />
					to create beautiful, user-friendly web apps</p>
				</header>

				<footer>
					<a href="#portfolio" class="button scrolly">View my works</a>
				</footer>

			</div>
		</section>

	<!-- Portfolio -->
		<section id="portfolio" class="two">
			<div class="container">

				<header>
					<h2>Projects</h2>
				</header>

				<div class="row">
					<div class="4u">
						<article class="item">
							<a href="#" class="image fit"><img src="assets/pokevisit.png" alt="" /></a>
							<header>
								<h3>Airbnb Clone</h3>
							</header>
						</article>
						<article class="item">
							<a href="#" class="image fit"><img src="assets/snake.png" alt="" /></a>
							<header>
								<h3>Snake written using Javascript</h3>
							</header>
						</article>
					</div>
					<div class="4u">
						<article class="item">
							<a href="#" class="image fit"><img src="assets/asteroids.png" alt="" /></a>
							<header>
								<h3>Asteroids game written using Javascript</h3>
							</header>
						</article>
						<article class="item">
							<a href="#" class="image fit"><img src="assets/trello.png" alt="" /></a>
							<header>
								<h3>Trello Clone</h3>
							</header>
						</article>
					</div>
					<div class="4u">
						<article class="item">
							<a href="#" class="image fit"><img src="assets/rails.png" alt="" /></a>
							<header>
								<h3>ActiveRecord/Rails Lite</h3>
							</header>
						</article>
						<article class="item">
							<a href="#" class="image fit"><img src="assets/portfolio.png" alt="" /></a>
							<header>
								<h3>Portfolio site design</h3>
							</header>
						</article>
					</div>
				</div>

			</div>
		</section>

	<!-- About Me -->
		<section id="about" class="three">
			<div class="container">

				<header>
					<h2>About Me</h2>
				</header>

				<a href="#" class="image featured"><img src="assets/pic08.jpg" alt="" /></a>

				<p>Tincidunt eu elit diam magnis pretium accumsan etiam id urna. Ridiculus
				ultricies curae quis et rhoncus velit. Lobortis elementum aliquet nec vitae
				laoreet eget cubilia quam non etiam odio tincidunt montes. Elementum sem
				parturient nulla quam placerat viverra mauris non cum elit tempus ullamcorper
				dolor. Libero rutrum ut lacinia donec curae mus vel quisque sociis nec
				ornare iaculis.</p>

			</div>
		</section>

	<!-- Contact -->
		<section id="contact" class="four">
			<div class="container">

				<header>
					<h2>Contact</h2>
				</header>

				<p>Contact me at <strong style="color=#000000; font-size:1.1em;">(650)703-9215</strong><br>
					Or by E-mail at <strong style="color=#000000; font-size:1.1em;">Auster.s.chen@gmail.com</strong>
				</p>

				<!-- <form method="post" action="#">
					<div class="row 50%">
						<div class="6u"><input type="text" name="name" placeholder="Name" /></div>
						<div class="6u"><input type="text" name="email" placeholder="Email" /></div>
					</div>
					<div class="row 50%">
						<div class="12u">
							<textarea name="message" placeholder="Message"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<input type="submit" value="Send Message" />
						</div>
					</div>
				</form> -->

			</div>
		</section>

</div>

<!-- Footer -->
<div id="footer">

	<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; Auster Chen. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>

</div>
