
<!-- Header -->
<div id="header" class="skel-layers-fixed">

	<div class="top">

		<!-- Logo -->
			<div id="logo">
				<span class="image avatar48 avatar-larger"><img src="assets/prof_pic.png" alt="" /></span>
				<h1 id="title">Auster Chen</h1>
				<p>Web Developer</p>
			</div>

		<!-- Nav -->
			<nav id="nav">
				<!--

					Prologue's nav expects links in one of two formats:

					1. Hash link (scrolls to a different section within the page)

					   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

					2. Standard link (sends the user to another page/site)

					   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

				-->
				<ul>
					<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
					<li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Projects</span></a></li>
					<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Me</span></a></li>
					<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
				</ul>
			</nav>

	</div>

	<div class="bottom">

		<!-- Social Icons -->
			<ul class="icons">
				<li><a href="https://github.com/teaflavored" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="http://linkedin.com/in/austerchen" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="http://idrinkblacktea.tumblr.com/" target="_blank" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
				<li><a href="https://www.facebook.com/auster.chen" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>

			</ul>

	</div>

</div>

<!-- Main -->
<div id="main">

	<!-- Intro -->
		<section id="top" class="one dark cover">
			<div class="container">

				<header>
					<h2 class="alt">Hi! I'm Auster Chen<br> a web developer for hire</h2>
					<p>I use Ruby on Rails and Javascript <br />
					to create beautiful, user-friendly web apps</p>
				</header>

				<footer>
					<a href="#portfolio" class="button scrolly">View my works</a>
				</footer>

			</div>
		</section>

	<!-- Portfolio -->
		<section id="portfolio" class="two">
			<div class="container">

				<header>
					<h2>Projects</h2>
				</header>

				<div class="row">
					<div class="4u">
						<article class="item">
							<h4 class="img-header"><a class="no-dec-link" href="https://github.com/Teaflavored/Pokevisit" target="_blank">Source</a> | <a class="no-dec-link" href="http://www.pokevisit.com" target="_blank">Demo</a></h4>
							<a href="http://www.pokevisit.com" target="_blank" class="image fit my-pokevisit"><img src="assets/pokevisit.png" alt="" /></a>
						</article>
						<article class="item">
							<h4 class="img-header"><a class="no-dec-link" href="https://github.com/Teaflavored/snake" target="_blank">Source</a> | <a class="no-dec-link" href="http://teaflavored.github.io/snake/" target="_blank" >Demo</a></h4>
							<a href="#" class="image fit my-snake"><img src="assets/snake.png" alt="" /></a>
						</article>
					</div>
					<div class="4u">
						<article class="item">
							<h4 class="img-header"><a class="no-dec-link" href="https://github.com/Teaflavored/asteroids" target="_blank">Source</a> | <a class="no-dec-link" href="http://teaflavored.github.io/asteroids/" target="_blank">Demo</a></h4>
							<a href="http://teaflavored.github.io/asteroids/" target="_blank" class="image fit my-asteroids"><img src="assets/asteroids.png" alt="" /></a>
						</article>
						<article class="item">
							<h4 class="img-header"><a class="no-dec-link" href="https://github.com/Teaflavored/myrello" target="_blank" >Source</a> | <a class="no-dec-link" href="http://myrello.herokuapp.com/" target="_blank">Demo</a></h4>
							<a href="#" class="image fit my-trello"><img src="assets/trello.png" alt="" /></a>
						</article>
					</div>
					<div class="4u">
						<article class="item">
							<h4 class="img-header"><a class="no-dec-link" href="https://github.com/Teaflavored/rails_lite" target="_blank">Source</a></h4>
							<a href="#" class="image fit my-rails"><img src="assets/rails.png" alt="" /></a>
						</article>
						<article class="item">
							<h4 class="img-header"><a class="no-dec-link" href="https://github.com/Teaflavored/portfolio" target="_blank">Source</a> | <a class="no-dec-link" href="http://austerschen.herokuapp.com/" target="_blank">Demo</a></h4>
							<a href="#" class="image fit my-portfolio"><img src="assets/portfolio.png" alt="" /></a>
						</article>
					</div>
				</div>

			</div>
		</section>

	<!-- About Me -->
		<section id="about" class="three">
			<div class="container">

				<header>
					<h2>About Me</h2>
				</header>

				<a href="#" class="image featured"><img src="assets/pic08.jpg" alt="" /></a>

				<p></p>

			</div>
		</section>

	<!-- Contact -->
		<section id="contact" class="four">
			<div class="container">

				<header>
					<h2>Contact</h2>
				</header>

				<p>Contact me at <strong style="color=#000000; font-size:1.1em;">(650)703-9215</strong><br>
					Or by E-mail at <strong style="color=#000000; font-size:1.1em;">Auster.s.chen@gmail.com</strong>
				</p>

				<!-- <form method="post" action="#">
					<div class="row 50%">
						<div class="6u"><input type="text" name="name" placeholder="Name" /></div>
						<div class="6u"><input type="text" name="email" placeholder="Email" /></div>
					</div>
					<div class="row 50%">
						<div class="12u">
							<textarea name="message" placeholder="Message"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<input type="submit" value="Send Message" />
						</div>
					</div>
				</form> -->

			</div>
		</section>

</div>

<!-- Footer -->
<div id="footer">

	<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; Auster Chen. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>

</div>
