/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
section#portfolio div.container div.row div article a{
  border:1px solid #7f8c8d;
  position:relative;
  width:100%;
}

section#portfolio div.container div.row div article a:after{
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

section#portfolio div.container div.row div article a.my-pokevisit:after{
  text-align:left;
  content: "Pokevisit";
  color:#fff;
}
section#portfolio div.container div.row div article a.my-trello:after{
  content: "Trello";
  color:#fff;
}
section#portfolio div.container div.row div article a.my-snake:after{
  content: "Snake";
  color:#fff;
}
section#portfolio div.container div.row div article a.my-rails:after{
  content: "Rails";
  color:#fff;
}
section#portfolio div.container div.row div article a.my-portfolio:after{
  content: "Portfolio";
  color:#fff;
}
section#portfolio div.container div.row div article a.my-asteroids:after{
  content: "Asteroids";
  color:#fff;
}


section#portfolio div.container div.row div article a:hover:after {
  opacity:1;
}

section#portfolio div.container div.row div article a img{
  height:300px;
  width:100%;
}

span.avatar48.avatar-larger{
  width:76px;
  height:76px;
  display:inline-block;
  border-radius:50%;
  border:3px solid #fff;
  top:-15px;
}


span.avatar48.avatar-larger img{
  width:100%;
  height:100%;
  border-radius:50%;
}

h4.img-header{
  font-weight:bold;
  color:#000;
}

section#top div.container header *{
  color:#fff;
}

section#top div.container header h2.alt{
  width:70%;
  font-weight:bold;
  text-align:center;
  display:inline-block;
  font-size:65px;
}

section#top div.container header p{
  font-size:1.1em;
}

a.button.scrolly{
  background:#2C3E50;
}
