<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <script src="assets/jquery.min.js"></script>
  <script src="assets/jquery.scrolly.min.js"></script>
  <script src="assets/jquery.scrollzer.min.js"></script>
  <script src="assets/skel.min.js"></script>
  <script src="assets/skel-layers.min.js"></script>
  <script src="assets/init.js"></script>
  <noscript>
    <link rel="stylesheet" href="assets/skel.css" />
    <link rel="stylesheet" href="assets/style.css" />
    <link rel="stylesheet" href="assets/style-wide.css" />
  </noscript>


</head>
<body>

<%= yield %>

</body>
</html>
